# Class-5

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("/kaggle/input/supershops/supershops.csv")

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
df1=df.copy()
df2=df.copy()
df3=df.copy()
df4=df.copy()

## Normalization

In [5]:
from sklearn.preprocessing import MinMaxScaler as mms

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [6]:
m= mms()

In [7]:
ms=m.fit(df[["Marketing Spend"]])
ms

MinMaxScaler()

In [8]:
df["Marketing Spend"] = ms.fit_transform(df[["Marketing Spend"]])
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

In [9]:
df["Administration"] = ms.fit_transform(df[["Administration"]])
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744  471784.10    Dhaka  192261.83
1         0.983359        0.761972  443898.53      Ctg  191792.06
2         0.927985        0.379579  407934.54  Rangpur  191050.39
3         0.873136        0.512998  383199.62    Dhaka  182901.99
4         0.859438        0.305328  366168.42  Rangpur  166187.94

In [10]:
df["Transport"] = ms.fit_transform(df[["Transport"]])
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

## Standardization

In [11]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
stdscl=StandardScaler()

In [14]:
std1=stdscl.fit(df2[["Marketing Spend"]])

In [15]:
std1.mean_

array([73721.6156])

In [16]:
df2["Marketing Spend"]=stdscl.fit_transform(df2[["Marketing Spend"]])
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913       136897.80  471784.10    Dhaka  192261.83
1         1.955860       151377.59  443898.53      Ctg  191792.06
2         1.754364       101145.55  407934.54  Rangpur  191050.39
3         1.554784       118671.85  383199.62    Dhaka  182901.99
4         1.504937        91391.77  366168.42  Rangpur  166187.94

In [17]:
#std2=stdscl.fit(df2[["Administration"]])
df2["Administration"]=stdscl.fit_transform(df2[["Administration"]])
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753  471784.10    Dhaka  192261.83
1         1.955860        1.082807  443898.53      Ctg  191792.06
2         1.754364       -0.728257  407934.54  Rangpur  191050.39
3         1.554784       -0.096365  383199.62    Dhaka  182901.99
4         1.504937       -1.079919  366168.42  Rangpur  166187.94

In [18]:
#std3=stdscl.fit(df2[["Transport"]])
df2["Transport"]=stdscl.fit_transform(df2[["Transport"]])
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

## Robust Scaler

In [19]:
from sklearn.preprocessing import RobustScaler

In [20]:
RS=RobustScaler()

In [21]:
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [22]:
df3["Marketing Spend"]=RS.fit_transform(df3[["Marketing Spend"]])
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530       136897.80  471784.10    Dhaka  192261.83
1         1.452113       151377.59  443898.53      Ctg  191792.06
2         1.303634       101145.55  407934.54  Rangpur  191050.39
3         1.156567       118671.85  383199.62    Dhaka  182901.99
4         1.119836        91391.77  366168.42  Rangpur  166187.94

In [23]:
df3["Administration"]=RS.fit_transform(df3[["Administration"]])
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355  471784.10    Dhaka  192261.83
1         1.452113        0.697565  443898.53      Ctg  191792.06
2         1.303634       -0.524290  407934.54  Rangpur  191050.39
3         1.156567       -0.097977  383199.62    Dhaka  182901.99
4         1.119836       -0.761543  366168.42  Rangpur  166187.94

In [24]:
df3["Transport"]=RS.fit_transform(df3[["Transport"]])
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94

## Max Absolute Scaler

In [25]:
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [26]:
from sklearn.preprocessing import MaxAbsScaler

In [27]:
MAS=MaxAbsScaler()

In [28]:
df4["Marketing Spend"]=MAS.fit_transform(df4[["Marketing Spend"]])
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

In [29]:
df4["Administration"]=MAS.fit_transform(df4[["Administration"]])
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.749527  471784.10    Dhaka  192261.83
1         0.983359        0.828805  443898.53      Ctg  191792.06
2         0.927985        0.553781  407934.54  Rangpur  191050.39
3         0.873136        0.649738  383199.62    Dhaka  182901.99
4         0.859438        0.500378  366168.42  Rangpur  166187.94

In [30]:
df4["Transport"]=MAS.fit_transform(df4[["Transport"]])
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.749527   1.000000    Dhaka  192261.83
1         0.983359        0.828805   0.940893      Ctg  191792.06
2         0.927985        0.553781   0.864664  Rangpur  191050.39
3         0.873136        0.649738   0.812235    Dhaka  182901.99
4         0.859438        0.500378   0.776136  Rangpur  166187.94